.about_doc {
  background-color: #9c9c9c; 
}
.about_doc header {
  background-color: #d1d1d1; 
}
.about_doc main {
  background-color: #c9c9c9;
  padding: 20px;
}
.about_doc section {
  background-color: #ffffff; 
  padding: 20px;
  margin-bottom: 20px;
}
.about_doc footer {
  background-color: #383838;
  padding: 20px;
}
