

/* Global styles */
.body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.error {
  color: #dc3545;
  margin-top: 10px;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

.bot-message {
  background-color: #a560ff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.message-gap {
  height: 10px;
}