.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #686868; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(71, 70, 70, 0.945);
    border: 2px solid #464545; /* Purple border */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d0a36; /* Purple text color */
  }
  
  .main {
    display: flex;
    justify-content: center;
  }
  
  .content {
    width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #0a83ee; /* Light gray border */
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8a4fff; /* Purple button color */
    color: #020202;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #31ee96; /* Darker purple on hover */
  }
  
  button:active {
    transform: translateY(1px);
  }